body{
    overflow-x: hidden;
}

#logo{
    width: 300px;
    height: 90px;
}

#menu{
    background-color: #0A417F !important;
}

.alto-img{
    height: 550px !important;
}

.nav-link{
    color: #fff !important;
    font-weight: 700;
}

.nav-link:hover{
    color: #d9b70e !important;
    font-weight: 700 !important;
}

.nav-link.active{
    color: #000 !important;
}

/* novedades */
#novedades{
    background-color: #0A417F !important;
}

#novedades .titulo{
    width: 100%;
    text-align: center;
    color: #fff;
}